{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@interface": "./src/interface",
          "@hooks": "./src/hooks"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
